<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Usuarios con Calendario</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
            justify-content: center;
            align-items: center;
        }

        .container2{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 100px auto;
        }

        .container{
          background-color: white;
          height: 100%;
          width: 100%;
          max-width: max-content;
          max-height: max-content;
          margin: 20px;
          border-radius: 50px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          padding: 80px;
        }

        .cuadroTexto{
          display: flex;
          height: 50px;
          width: 500px;
          max-width: max-content;
          max-height: max-content;
        }

    </style>
</head>
<body>
  <div class= "container2">
    <div class= "container">
      <h1>New reservation</h1>
      <%= render "form", reserva: @reserva, redirect_path: create_reserva_path(params[:id1])%>
      <br>
      <div>
        <%= link_to "Back to reservations", reservas_path %>
      </div>
    </div>
    <div class= "container">
      <h1>Important announcement:</h1>
      <div class= "cuadroTexto">
        <%= "
          If you are not registered, the reservation will continue, but it will not be sent to your user
          If you want to have your reservation catalog in your account. After making the reservation or before
          you can create your own account to have all your reservations and which events and people you joined
        "%>
      </div>
    </div>
  </div>

</body>










