<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizacion Eventos</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 80px);
        }

        .Evento{
            background-color: white;
            margin: 20px;
            border-radius: 50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 80px;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="Evento">
          <h1 style="color: green">Successful booking!!</h1>
          <br>
          <h2>You reserved the mail: <%= @reserva.email %></h2>
          <h2>From:<%= @evento.dia.strftime("%d-%B-%Y") %> <%= @reserva.horario.strftime("%I-%M %p") %></h2>
        </div>
    </div>
    <div>
      <%= link_to "Back to reservations", reservas_path %>
    </div>
</body>


