<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arreglo de los formularios</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #A569BD;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .eliminar {
          background-color: #4CAF50;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 4px;
        }

        .eliminar:hover {
          background-color: #45a049;
        }

        .formulario {
            height: 100%;
            width: 400px;
            margin: 100px auto;
            padding: 50px;
            background-color: #fff;
            border-radius: 50px;
        }

        .texto,
        .fechas {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid #ccc;
          border-radius: 3px;
        }

        .fechas {
          padding: 5px;
          margin-bottom: 4px;
        }

    </style>
</head>
<body>
  <header>
    <h1>The event is : <%= @evento.eventName %></h1>
  </header>
  <%= button_to "Delete this event", delete_evento_path(id1: @evento.id), method: :delete , class: "eliminar" %>
  <%= render partial:'formulario', locals: { redirect_path: update_evento_path } %>


</body>


