<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arreglo de los formularios</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #A569BD;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .eliminar {
          background-color: #4CAF50;
          color: white;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 4px;
        }

        .eliminar:hover {
          background-color: #45a049;
        }

        .formulario {
            display: flex;
            height: 400px;
            width: 500px;
            max-width: max-content;
            max-height: max-content;
            margin: 20px auto;
            padding: 50px;
            background-color: #fff;
            border-radius: 5px;
        }
        
        .texto,
        .fechas {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid #ccc;
          border-radius: 3px;
        }

        .fechas {
          padding: 5px;
          margin-bottom: 4px;
        }
        .containerlink {
          height: 10px;
          width: 200px;
          max-width: max-content;
          max-height: max-content;
          margin: 50px auto;

        }
        
    </style>
</head>
<body>
  <header>
    <h1>El evento es : <%= @evento.eventName %></h1>
  </header>
  <%= button_to "Delete this event", delete_evento_path(id1: @evento.id), method: :delete , class: "eliminar" %>
  <%= render partial:'formulario', locals: { redirect_path: update_evento_path } %>
  <div class= "containerlink">
    <%= link_to "Ver Evento y sus reservas", evento_path %> 
  </div>
  
</body>


