<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arreglo de los formularios</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f4f8;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #A569BD;
            padding: 20px;
            text-align: center;
            color: white;
        }

        .formulario {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 400px;
            width: 500px;
            max-width: max-content;
            max-height: max-content;
            margin: 100px auto;
            padding: 50px;
            background-color: #fff;
            border-radius: 5px;
        }

        .texto,
        .fechas {
          width: 100%;
          padding: 10px;
          margin-bottom: 10px;
          border: 2px solid #ccc;
          border-radius: 3px;
        }

        .fechas {
          padding: 5px;
          margin-bottom: 4px;
        }
        
    </style>
</head>
<body>
  <header>
    <h1>Crea tu nuevo Evento</h1>
  </header>
  <% @evento = Evento.new %>
  <%= render partial:'formulario', locals: { redirect_path: create_evento_path } %>
</body>


